<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    table, th, td {
        border: 1px solid gray;
        border-collapse: collapse;
    }
    th, td{
        padding: 10px;
    }
</style>
<body>
<div class="container" style="padding: 10px;">
    <div>
        <h1>📋 Simple Memo Manager</h1>
        <p>A Spring-based web application that allows users to create, edit, and delete simple memos.</p>
        <p>
            <a href="/memo/new">📝 Write Memo</a>
        </p>
        <h3> 🗃️ Memo List </h3>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memo : ${memos}">
                <td th:text="${memo.id}"></td>
                <td th:text="${memo.title}"></td>
                <td th:text="${memo.content}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>